.mouseon {
	background-color: rgb(229, 137, 32);
}

.mouseout {
	background-color: rgb(255, 169, 48);
}
.btn_wrap1 {
    background: url(../../images/userweb/button_vip.png) no-repeat center;
    background-size: auto 100%;
    display: block;
    width: 450px;
    height: 94px;
}
.btn_wrap1:active {
    background: url(../../images/userweb/button_vip_click.png) no-repeat center;
    background-size: auto 100%;
    display: block;
    width: 450px;
    height: 94px;
}
.btn_wrap1:hover {
    background: url(../../images/userweb/button_vip_click.png) no-repeat center;
    background-size: auto 100%;
    display: block;
    width: 450px;
    height: 94px;
}
.btn_wrap2 {
    background: url(../../images/userweb/button_buy.png) no-repeat center;
    background-size: auto 100%;
    display: block;
    width: 450px;
    height: 94px;
}
.btn_wrap2:active {
    background: url(../../images/userweb/button_buy_click.png) no-repeat center;
    background-size: auto 100%;
    display: block;
    width: 450px;
    height: 94px;
}
.btn_wrap2:hover {
    background: url(../../images/userweb/button_buy_click.png) no-repeat center;
    background-size: auto 100%;
    display: block;
    width: 450px;
    height: 94px;
}